.article-contact {
    padding: 30% 10%;
}
.contact-info {
    justify-content: flex-start;
    
}
.content-contact {
    margin: 30% 0;
}
.contact-info-item {
    font-size: 1.5rem;
    padding: 2% 10%;
    color: #584426;

}
.contact-icon {
    font-size: 1.5rem;
    color: #8a8a8a;
}
.small-heading-contact,
.info-item-1 {
    color: #949494;
}