.item-content {
    padding: 0 2%;
    span {
        color: #793535;
    }
}
.item-heading {
    font-size: 1rem;
}
.item-para {
    font-size: 0.8rem;
}
span {
    font-weight: bold;
}
.fa-laptop {
    font-size: 2rem;
}
.edu-heading-bold
edu-heading-bold {
    color: #947611;
}