.article-services {
    padding: 20%;
    text-align: center;
    .small-para {
        font-size: 0.9rem;
        margin: 4% 0;
    }
    .small-heading {
        font-size: 1.2rem;
    }
    .icon-services {
        font-size: 5rem;
    }
}